@charset "UTF-8";
:root {
  --bg-theme-color: #000000;
  --white: #fff;
  --theme: #76ff03;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    /*background: linear-gradient(var(--white),#8133ee);*/
    background-color: var(--bg-theme-color);
    align-items: center;
    justify-content: center;
}
/*Avatar Begin*/
.avatar-div {
  margin: 0rem;
  padding-top: 4.5rem;
}
.avatar-div .data {
  width: 12rem; 
  height: 12rem;
  box-sizing: border-box;
  border-style: solid; 
  border-radius: 50%;
  padding: 5px;
  border-color: var(--theme);
  overflow: hidden;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
  img { width: 100%; height: auto; }
}
@keyframes float {
  0% {
    box-shadow: 0px 10px 15px var(--theme);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0px 25px 15px 0px var(--bg-theme-color);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0px 10px 15px var(--theme);
    transform: translatey(0px);
  }
}
/*Avatar End*/
/*----------------------------------------*/
/*Name Begin*/
.name-div {
  margin: 0px
}
.name-div .data {
  font-family: 'Miriam Libre';
  font-weight: 1rem;
  color: var(--white);
  font-size: 3.5rem;
  padding: 0rem
}
.name-div .data .initial {
  color: var(--theme);
  font-size: 5rem;
}
/*Name End*/
/*----------------------------------------*/
/*Bio Begin*/
.bio-div{
    margin-top: -4rem;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
.bio-text {
  font-size: 36px;
  font-weight: 100;
  font-family:'Nanum Pen Script';
}
.bio-text-initial {
  color: var(--white);
  font-size: 2.8rem;
  margin: 0px; 
}
.bio-text-data {
  padding-left: -1rem;
  margin-left: -1rem;
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;        
}
.bio-list-item {
  text-align: left;
  font-size: 2.8rem;
  color: var(--theme);
  height: 45px;
  margin-bottom: 45px;
  display: block;
}
.bio-list { animation: flip4 4s infinite; }
/*@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}*/
@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
/*Bio End*/
/*----------------------------------------*/
/*Download Reseume Begin*/
.button-div {
  margin-top: -2rem;
}
.button-div .data {
  background-color: var(--bg-theme-color);
  border: 2px solid var(--theme);
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  border-radius: 5px;
  cursor: pointer;
}
.button-div .data:hover {
  background-color: var(--theme);
}
.button-div .data:active {
  background-color: var(--theme);
}
.button-div .data:focus {
  background-color: var(--theme);
}
/*Download Reseume End*/
/*----------------------------------------*/
/*Social Connect Begin*/
.social-icons {
  margin-top: 2.5rem;
  margin-bottom: 100px; 
}
.social-icons .social-icon {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  /*border: 1px solid var(--theme);*/
  /*background-color: var(--theme);*/
  color: var(--white);
  border-radius: 50%;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  /*background-color: var(--white);*/
  color: var(--theme)
}
/*Social Connect End*/
/*----------------------------------------*/
/*Loader Begin*/
#loadingDiv {
  position: fixed;
  top:0;
  width:100%;
  height:100%;
  text-align: center;
  background-color: var(--bg-theme-color);
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {            
  margin: 60px auto;
  font-size: 10px;
  top: 30%;
  background: linear-gradient(var(--theme),var(--theme), var(--white));
  display: inline-block;
  position: relative;
 /* text-indent: -9999em;
  border-top: 1.1em solid var(--theme);
  border-right: 1.1em solid var(--white);
  border-bottom: 1.1em solid var(--theme);
  border-left: 1.1em solid var(--white);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;*/
  animation: gelatine 1.1s infinite linear;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*Loader End*/