@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* theme colors */
  html[data-theme='dark'] {
    --background: 0 0% 0%;
    --background-2: 0 0% 5%;
    --background-3: 0 0% 10%;
    --foreground: 0 0% 100%;
    --foreground-2: 0 0% 50%;
    --green: 145 63% 49%;
  }
  html[data-theme='light'] {
    --background: 0 0% 100%;
    --background-2: 0 0% 95%;
    --background-3: 0 0% 90%;
    --foreground: 0 0% 0%;
    --foreground-2: 0 0% 20%;
    --green: 145 63% 49%;
  }
  /* accent colors */
  html[data-accent='purple'] {
    --primary: 265 83% 57%;
  }
  html[data-accent='yellow'] {
    --primary: 44 100% 52%;
  }
  html[data-accent='orange'] {
    --primary: 19 97% 51%;
  }
  html[data-accent='pink'] {
    --primary: 334 100% 50%;
  }
  html[data-accent='blue'] {
    --primary: 217 100% 61%;
  }
  html[data-accent='green'] {
    --primary: 145 63% 49%;
  }
}

@layer base {
  * {
    cursor: default;
  }
  body {
    @apply bg-background text-foreground font-normal;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
